Exercises_And_Practice/amazon-project-bymyself/*.html linguist-language=HTML
Exercises_And_Practice/amazon-project-bymyself/style/*.css linguist-language=CSS
Exercises_And_Practice/amazon-project-bymyself/code/*.js linguist-language=JavaScript
