a {
    text-decoration: none;
    color: inherit;
}
body {
    height: 3000px;
    font-family: Roboto;
    padding: 0;
    margin: 0;

}
p {
    margin: 0;
}
.headbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
}
.headbar1 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    flex: 1;
    min-width: 180px;
}
.amazon-logo {
    height: 32px;
    padding-top: 8px;
}
.amazon-mobile-logo {
    display: none;
}
@media (max-width: 600px) {
    .amazon-logo {
        display: none;
    }
    .headbar1 {
        min-width: 100px;
    }
    .amazon-mobile-logo {
        display: block;
        height: 32px;
    }
}
.headbar2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 3;
    min-width: 0;

}
.input-bar {
    flex: 1 1 0;
    min-width: 70px;
    max-width: 1000px;
    height: 38px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
}
.input-bar::placeholder {
    padding-left: 12px;
    font-size: 15px;
}
.input-bar:focus {
    outline: 2px solid orange;
}
.search-button {
    border: none;
    vertical-align: center;
    padding: 7.5px 10px;
    background-color: #fdbc81;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}
.search-icon {
    height: 22px;
}
.headbar3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0px 16px 0px 32px;
    align-items: center;
    min-width: 120px;
    margin-left: 12px;
}
.return-orders-container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-orders {
    color: white;
    width: 57px;
    vertical-align: center;
    font-size: 13px;
    margin-right: 12px;
}
.orders-text {
    font-weight: bold;
    font-size: 14px;
}
.cart-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    vertical-align: center;
    padding-right: 5px;
    position: relative;
    height: 60px;
    cursor: pointer;
}
.cart-icon {
    height: 32px;
    vertical-align: center;
}
.cart-number {
    position: absolute;
    color: #ea8500;
    font-weight: bold;
    top: 10px;
    left: 23px;
}
.cart-text {
    color: white;
    margin-bottom: -12px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
}
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/*          Glowny watek                                                      */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */

.main-content-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 60px;
}
@media (max-width: 2000px) {
    .main-content-container {
        grid-template-columns: repeat(7, 1fr);
    }
}
@media (max-width: 1600px) {
    .main-content-container {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 1300px) {
    .main-content-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1000px) {
    .main-content-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 800px) {
    .main-content-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 575px) {
    .main-content-container {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 450px) {
    .main-content-container {
        grid-template-columns: 1fr;
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128,128,128,0.3);
    border-top: none;
    border-left: none;
    padding: 40px 25px 25px 25px;
    align-items: center;
    justify-content: center;
}
.photo-container {
    flex: 1;
    cursor:pointer;

}

.photo {
    height: 170px;
}

.item-info-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 10px;
}
.item-info {
    font-size: 15px;
    max-width: 200px;
    whitespace: nowrap;
}

.stars-container {
    display: flex;
    flex-direction: row;
}
.stars-photo {
    width: 100px;
    object-fit: contain;
    vertical-align: center;
}
.stars-text {
    width: 50px;
    font-size: 15px;
    color: blue;
    vertical-align: center;
    margin-left: 4px;
    margin-top: 4px;
    cursor: pointer;
}
.stars-text:hover {
    color: #ba5200;
}

.item-price {
    font-weight: bold;
    font-size: 16px;
}
.option-select {
    width: 45px;
    height: 25px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    background-color: #ededed;
    padding-left: 4px;
    font-size: 15px;
    outline: none;
    cursor: pointer;

}
.option-select:focus {
    outline: none;
    border-color: #fd9531;
    border-style: solid;
    border-width: 2px;
    width: 49px;
    height: 29px;
    margin: -2px;
}
.item-button-container {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    width: 100%;

}
.item-button {
    background-color: #f8d62b;
    border: none;
    flex: 1;
    padding: 10px 50px;
    white-space: nowrap;
    border-radius: 20px;
    cursor: pointer;
}
.item-button:hover {
    background-color: #ffc73d;
}